@import "tailwindcss";

/* ⚠️ PENTING: Map variant dark ke selector .dark */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  /* Mode Light Default */
  :root {
    --bg-main: #ffffff;
    --bg-card: #f4f4f5;
    --border-color: #e4e4e7;
    --text-primary: #09090b;
    --text-muted: #71717a;
  }

  /* Mode Dark */
  .dark {
    --bg-main: #09090b;
    --bg-card: #121215;
    --border-color: #27272a;
    --text-primary: #f4f4f5;
    --text-muted: #a1a1aa;
  }

  body {
    background-color: var(--bg-main);
    color: var(--text-primary);
    font-family: var(--font-sans, "Inter", system-ui, sans-serif);
    letter-spacing: -0.02em;
    -webkit-font-smoothing: antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 9999px;
}
